/*

	01. Key Frames & Font Face
	02. Generals Settings
	03. Header Section Settings
	04. Container Section Settings
	05. Testimonial Section Settings
	06. Join us Section Settings
	07. Sign In Section Settings
	08. Footer Section Settings
	09. Mobile Menu Settings
	10. Media Queries for Mobile Settings
	11. Media Queries for iPad/Tablet Settings
			
*/





/* 01. FONT FACE ================================================== */
@font-face {
  font-family: 'Socialico';
  src: url('../fonts/Socialico.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Socialico.woff') format('woff'), url('../fonts/Socialico.ttf')  format('truetype'), url('../fonts/Socialico.svg#Socialico') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SocialicoPlus';
  src: url('../fonts/SocialicoPlus.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SocialicoPlus.woff') format('woff'), url('../fonts/SocialicoPlus.ttf')  format('truetype'), url('../fonts/SocialicoPlus.svg#SocialicoPlus') format('svg');
  font-weight: normal;
  font-style: normal;
}




	
/* 02. GENERALS SETTINGS ================================================== */



/* Selected text Color */

::-moz-selection{background:#8421cf;color:white}
::selection{background:#8421cf;color:white}


body, html { 
	width:100%;
	height: 100%;
	min-height: 100%;
	background-color:#FFF;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	font-family: Helvetica, sans-serif;
	font-weight:300;
	line-height: 1.2;
	}

.centered, .text-center {text-align: center;}

.clear {padding: 10px 0;}

b { }

strong {  }

h1 {
  	margin: 0.75em 0.75em 0.25em;
  	font-size:2.70em;}

h2 {
	font-size:34px;
	line-height: 1.3em;
  	margin-top: 0.33em;
	margin-bottom: 0.33em;
	}
  
h3 {    
	/*text-transform: uppercase;*/
	padding-bottom: 10px;
	padding-top: 10px;
	font-size:24px;}

h4 {    
	/*text-transform: uppercase;*/
	font-size:20px;}


span {
	/*color: #303333;
	font:1.5em 'latobold', sans-serif;
	opacity: 0.4;
	padding-top: 0px;*/}

/* Lead Text */
	
.lead {font-size:18px;  color:#777;}


/* Link */

a {
  	color: #303333;
  	text-decoration: none;}

a:hover {
	color: #e58b16;}  
	
/* Paragrah */

p {}

p a {
	color:#303333;
	border-bottom: 1px dotted #888;
	-webkit-transition: all 0.5s ease-out;
  	-moz-transition: all 0.5s ease-out;
  	-o-transition: all 0.5s ease-out;
  	transition: all 0.5s ease-out;}

p a:hover {
	color:#111;}


/* Button */

.button {
	border: 2px solid rgba(118,30,205,1);
    color: #761ecd;
    padding:10px 15px;
    font-size: 20px;
    min-width: 150px;
    line-height: 90px;
    text-align: center;}

.button:hover {
	color:#e58b16;
	border:2px solid #e58b16;
	 -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;}
 .button-white {
	border: 2px solid rgba(255,255,255,1);
    color: #ffffff;
    padding:10px 15px;
    font-size: 20px;
    min-width: 150px;
    line-height: 90px;
    text-align: center;}  
	.button-white:hover {
	color:#e58b16;
	border:2px solid #e58b16;
	 -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;} 
    
/* Button */

.button2 {
    text-transform: uppercase;
    padding:15px 20px;
    background-color: #5BB75B;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    width:100%;
    cursor: pointer;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
.button-sign{
	background:#e58b16;
	font-size:20px;
	font-weight:300;
	padding:5px 20px;
	/*margin-right:-15px;*/
	color:#fff;
}
.button-sign:hover{color: #8421cf}
.button-join{
	background:#8421cf;
	font-size:20px;
	font-weight:300;
	padding:5px 20px;
	color:#fff;
}
.button-join:hover{color:#e58b16 }
.button2:hover {
	background-color: #51A351;
    color: #FFFFFF;
    background-position: 0 -15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;}    
.slogan{font-size:60px; line-height:60px; font-weight:300;}	
	
/* FOR FADING : DON'T REMOVE IT */

.fade1,.fade2,.fade3{  
    display:none;}

	
/* 03. HEADER SECTION ================================================== */


nav #logo {
	float:left;
	z-index: 99999;}
	
nav {
	z-index: 999;
	width: 100%;
	height: 80px;}


/* Some stylesheet reset */

#nav, #nav ul {
	list-style: none;
	margin: 0;
	padding: 0;}

/* The main navigation bar */

#nav {
	width: 100%; /* The menu will take the width of its container */}

#nav>li {
	float: right;
	position: relative;
	padding: 10px 0;}

/* The main navigation links */

#nav>li>a {
	/* Layout */
	display: block;
	padding: 0px 10px;
	margin:0px 10px;
	/* Typography */
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	font-weight:300;
	/* Transitions */
	-webkit-transition: color .2s ease-in, border-top-color .2s ease-in;
	-ms-transition: color .2s ease-in, border-top-color .2s ease-in;
	-moz-transition: color .2s ease-in, border-top-color .2s ease-in;
	-o-transition: color .2s ease-in, border-top-color .2s ease-in;
	transition: color .2s ease-in, border-top-color .2s ease-in;}

/* The hover state of the links */

#nav li:hover a, #nav li .selected {
	color: #e58b16;}

 
/* Navigation Fixed */ 
 
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.22);
	z-index: 999999;
	height: 110px;
	border-bottom: 0px solid #e5e5e5;
	overflow: hidden;
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	transition: height 0.6s;}


/* FOR REDUCING THE HEIGHT OF THE NAVIGATION */

.cbp-af-header #logo {
	padding:5px 5px 0px 0px; 
	max-width:100%;
	}

.cbp-af-header #nav a {
	line-height: 90px;}

.cbp-af-header.cbp-af-header-shrink #logo { 
	padding:5px 5px 0px 0px; 
	max-width:100%;}

/* Transitions and class for reduced height */

.cbp-af-header #logo,
.cbp-af-header #nav a {
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;}

.cbp-af-header.cbp-af-header-shrink {
	height: 110px;
	border-bottom: 0px solid #e5e5e5;}

.cbp-af-header.cbp-af-header-shrink #nav a {
	line-height: 90px;}


/* Header Generals  */

#header {
	width:100%;
	/*height:600px;*/
	color:#FFF;
	/*background:url('../img/zilra-ref-5.jpg')  #363f48 fixed; */
    z-index: 999998;
    position: relative;
    background-size: 100%;}
.about-page{background:url(../img/banner-about.png) #363f48 fixed; height: 500px;}
.contact-page{background:url(../img/banner-contact.jpg) #363f48 fixed; height: 500px;}
.business-page{background:url(../img/banner-business.jpg) #363f48 fixed; height: 500px;}
.hp-page{background:url(../img/banner-hp.jpg) #363f48 fixed; height: 800px;}
.start-today {background:url(../img/business-3.jpg) no-repeat; height:380px; position:relative; background-size: cover;}
.yisp{background:url(../img/yisp-1.jpg) no-repeat; height:380px; position:relative; background-size:cover;}
@media(max-width: 768px)
{
.start-today, .yisp, .cca, .hp-1, .hp-2{background-size: cover !important;}
}
#header .twelve.columns { 
	margin-top:10%; 
	text-align: left; }

#header .logo { 
	width: 100%;
	font-family:'ardarling';
	font-size:80px;
	}

#header h2 {
	padding:20px 0; }

/* Social Share Button  */

.social-stuff {
	padding:20px 0;}

	
/* 04. CONTAINER SECTION ================================================== */


/* Thumbsnail ( simple as 1-2-3 )  */

.thumbs {
	background: #FFF; 
	border-top:0px solid #EEE;}

/* Section 1 */

.work1 {
	background: #F8f8f8; 
	border-top:0px solid #EEE; }

/* Section 2  */

.work2 { 
	background-color: #FFF; 
	border-top:0px solid #EEE; }


/* Container  */

.container {	
	z-index: 99999; /* IMPORTANT */
	position: relative;
	background: #FFF;}


.cbp-so-scroller {
	overflow: hidden;
	z-index: 9999;
	position: relative;}


/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
	padding:0px 0;}

.cbp-so-section p {
	margin-top: 10px;}

.cbp-so-section:after {
	clear: both;}

/* Sides */
.cbp-so-side {
	width: 100%;
	margin: 0;
	/*padding: 3em 2%;*/
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;}

.cbp-so-side-video {
	width: 100%;
	margin: 0;
	padding: 2.5em 0%;
	z-index: 9999999;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;}

.cbp-so-side-img {
	width: 100%;
	margin: 0;
	padding:0em 0% 0em 0%;
	/*overflow: hidden;*/
	opacity: 1;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;}


/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;}

.cbp-so-side:after {
	clear: both;}

.cbp-so-side-right {
	text-align: left;}

.cbp-so-side-left {
	text-align: left;}

.cbp-so-side-right img {
	float: left;
	width: 100%;
    position: relative;
	bottom:0;
	}

.cbp-so-side-left img {
	float: left;
	width: 100%;
    position: relative;
	bottom:0;
	}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;}

.cbp-so-init .cbp-so-side-top {
	-webkit-transform: translateY(-80px);
	-moz-transform: translateY(-80px);
	transform: translateY(-80px);}

.cbp-so-section .cbp-so-animate .cbp-so-side-top {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;}


/* Download Button */
	
.download-button {float:left;}
.download-button img {padding-right: 5px;}



/* 05. TESTIMONIAL SECTION ================================================== */

#testimonial { 
	padding:60px 0 10px 0; 
	z-index: 999; 
	position: relative; 
	background: #FFF; 
	border-top:1px solid #eee; }


/* 06. JOIN US TEXT SECTION ================================================== */


#joinus { 	
    left: 0;
    padding: 60px 0 60px;
    position: relative;
    width: 100%;
    z-index: 999;
    display: block;
    background: #F5F5F5; 
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee; }



	
/* 07. SIGN IN SECTION ================================================== */


/* Sign up General */

#signup {
	background: url('../img/debut_dark.png'); 
	padding:50px 0 30px 0; 
	position: fixed; 
	bottom:106px; 
	z-index: 9; 
	width:100%;}
	
form {
	overflow: hidden;}
	
/* Mail Input Send */

#signup input, #signup select {
	font-family: 'latolight', sans-serif;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	border-radius: 3px;
	border:none;
	margin-top:2px;
	color: #A9A9A9;
	height:50px;
	resize: none;
	font-size:14px;
	letter-spacing:1px;
	padding: 9px 10px 8px;
	transition:all .3s ease-in-out;
text-transform: uppercase;
	width:100%;}


/* Promise we do not spam */

#signup .spam {
	padding:21px 0 0 0;
	font-family: 'latolight', sans-serif;
	color: #BBB;}

/* Message if it's ok */

#signup .msg-ok {
	font-family: 'latolight', sans-serif;
	color: #FFF;}

.cbp-so-section:first-child{margin-top: 70px;}
	
/* 08. FOOTER SECTION ================================================== */




/* Make it Fixed */

#footerSpacer {
    background-color: rgba(0, 0, 0, 0) !important;
    display: block;
    min-height: 285px;}

/* Footer General */

#footer {
	bottom: 0;
    left: 0;
    padding: 40px 0 40px;
    position: relative;
    width: 100%;
    font-size:14px;
    z-index: 1;
	background: #e58b16;}

/* The navigation bar on the left */
#navfirst {
	width: 100%; /* The menu will take the width of its container */}

#navfirst>li {
	float: left;
	position: relative;}

#navfirst>li>a {
	/* Layout */
	display: block;
	padding: 0px 0px 0 30px;

	/* Typography */
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:300;
	
	/* Transitions */
	-webkit-transition: color .2s ease-in, border-top-color .2s ease-in;
	-ms-transition: color .2s ease-in, border-top-color .2s ease-in;
	-moz-transition: color .2s ease-in, border-top-color .2s ease-in;
	-o-transition: color .2s ease-in, border-top-color .2s ease-in;
	transition: color .2s ease-in, border-top-color .2s ease-in;}

/* The hover state of the links */
#navfirst li:hover a, #navfirst li .selected {
	color: #8421cf;}




/* 09. MOBILE MENU SETTINGS ================================================== */



/* Mobile Menu */

.mobile-menu {
	display:none;
	background: #222;
	width:100%;
	text-align: center;
	z-index: 99999999;
	position: absolute;
	top:0;}
	

.mobile-menu .row {
	background: #F1F1F1;
	padding-top:10px;
	padding-bottom: 20px;}
	

.mobile-menu-inner .nav-mobile li {
	color: #4D4C4C;
	display: block;
	width: 100%;
	cursor: pointer;
	margin-top: 2%;
	background-color: #fFF;
	padding: 6px 20px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	}
	

.mobile-menu-inner .nav-mobile li:hover {
	background-color: #333;	}
	

.mobile-menu-inner .nav-mobile li:hover a {
	color: #fFF;	}
	

.mobile-menu-inner .nav-mobile li a {
	display: block;
	width:100%;
	color: #4D4C4C;
	text-transform:uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	}
	

#collapse {
	display:none;
	position:absolute;
	width:100%;
	top:55px;
}


.twelve img{float:none; max-width:none; /*margin-left:-2%;*/ width:100%}
	
/* 10. MEDIA QUERIES FOR MOBILE SETTINGS ================================================== */



/* Styling for mobile devices */

@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {

	/* Display the mobile menu */
	
	.mobile-menu {display:block; position: relative;}	
	
	.cbp-af-header {display: none;}
/*.cbp-so-side-video, .cbp-so-side-img{display:none;}*/
	#header {/*background:url('../img/zilra-ref-5.jpg') #222 fixed;*/ height:400px;}
	.about-page{background:url(../img/banner-about.png) #222 fixed; background-size: initial !important; height: 300px !important;}
	.contact-page{background:url(../img/banner-contact.jpg) #222 fixed; height: 220px !important; background-size: initial !important;}
	.business-page{background:url(../img/banner-business.jpg) #222 fixed; background-size: initial !important;  height: 300px !important;}
	.hp-page{background:url(../img/banner-hp.jpg) #222 fixed; height:600px !important; background-size: initial !important;}
	#header .logo {text-align: center;}
	
	#header h2 {text-align: center;}

  	.thumbs .tiles.three_up > li {width:100%; padding-bottom: 20px;}
  	
  	#joinus {position: relative; bottom: auto;} 
  	
  	#signup {position: relative; bottom: auto;} 
  	
  	#footer {position: relative; bottom: auto;}
  	
  	.social-stuff {display: none;}
  	
  	/*.social {display:none;}*/
  	
  	#footerSpacer {display: none;}
  	
  	.download-button {text-align: center; float: inherit;  margin: 0 auto; }
		
	#header .button, .button2 {font-size:12px; }
	
	#header .twelve.columns { margin-top:40px; text-align: center;  }
		
	.cbp-so-side {text-align: center; padding: 4% 0;}
	
	.cbp-so-side img {text-align: center; opacity: 1;}
	
	.cbp-so-side-video, .cbp-so-side-img { opacity: 1;}
	
	.cbp-so-side-left img { float: none; }
	.slogan{font-size:40px; line-height:40px;}
	h2 {font-size:1.7em}
	
	h3 {font-size:1.3em;}
	
	span {font-size:1.1em;}
	
	#slider-wrapper{display: none;}
		
	#signup form {overflow: hidden;}
	
	#signup input, #signup select {border-radius: 0px; margin-bottom: 20px;}
	
	#signup .submit {width:100%;}
	
	#signup .spam {padding-top:20px;}
	
	#footer p {text-align: center; padding:10px 0;}
	
	#footer .social {text-align: center;}
	.section-content {font-size:5vw !important;}

}

/* 11. MEDIA QUERIES FOR TABLET SETTINGS ================================================== */




@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {


	/* Display the mobile menu */
	.section-content {font-size:3vw !important;}
	.mobile-menu {display:block; position: relative; }	
	
	.cbp-af-header {display: none;}
	
  	#header {/*background:url('../img/zilra-ref-5.jpg') #222;*/ height:400px; background-size:cover;}
  	.about-page{background:url(../img/banner-about.png) #222;}
	.contact-page{background:url(../img/banner-contact.jpg) #222 fixed;}
	.business-page{background:url(../img/banner-business.jpg) #222 fixed;}
	.hp-page{background:url(../img/banner-hp.jpg) #222 fixed; height:600px !important;}
	#header .twelve.columns { margin-top:10%; text-align: center;  }
	
	#header h2 {font-size:2em}
	
	#header .button {font-size:16px;}

  	#joinus {position: relative; bottom: auto;} 
  	
  	#signup {position: relative; bottom: auto;} 
  	
  	#footer {position: relative; bottom: auto;}
  		
  	.social {display:block;}
  	
  	.social-stuff {display: none;}
  	 
  	#footerSpacer {display: none;}
  	
	.cbp-so-side img {text-align: center; opacity: 1;}
	
	.cbp-so-side-video, .cbp-so-side-img {display: block; opacity: 1;}
	
	.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {display: block; opacity: 1;}
	
	.cbp-so-side-left img { float: right; }
		
	.cbp-so-side h3 {font-size:1.5em;}
	
	.cbp-so-side-right { text-align: left;}

	.cbp-so-side-left {text-align: left;}
	
	#signup h2 {font-size:2em;}
	
	#signup form {overflow: hidden;}
	
	#signup input, #signup select {border-radius: 0px;}
	
	#signup .submit {width:100%;}
	
	#signup .spam {padding-top:50px;}
	
	#footer p {text-align: left; padding:10px 0;}
	
	#footer .social {text-align: center;}
		
}

.section-title{color: #761ecd; font-size:40px; font-weight:300; padding-bottom: 20px;}
.section-content{color: #e58b17; font-size:26px; font-weight:300; line-height:34px;}
section .row{max-width:100%;}
section#header .row{max-width:96%;}
section .row .text-padding{padding-left:20px;}
section .row .text-padding-right{padding-right:20px; text-align: right;}
.social {height:26px;}
.social a{font-size:20px; color:#fff;}
.social a span{position:relative;top:-32px;}
.facebook, .twitter {
    color: #fff;
    margin: 0px 10px;
	font-family:'Socialico';
	font-size:60px !important;
	position:relative;
	top:-17px;
}
.social a:hover .facebook, .social a:hover .twitter, .social a:hover .envelope, .social a:hover span{color:#8421cf;}
.envelope{color: #fff; font-family:'SocialicoPlus'; font-size:60px !important;position:relative; top:-17px; margin: 0px 10px;}
.hi-icon-wrap h4{font-size:20px; font-weight:300; color:#821fd3;}
.padding-row{padding:30px 0px;}
.purple{color: #761ecd;}.gray{color: #84807c;}.orange{color: #e58b16;}
.static{padding:30px 0px;}
.static img{max-width:100%; float:right; width:auto;}
.bg-orange{background: #e58b16; padding:30px 20px; color:#fff;}
.bg-purple{background: #761ecd; padding:30px 20px; color:#fff;}
.readmore-or{background:#fff; padding:5px 10px; color:#e58b16; font-size:20px; margin-top:10px; display:inline-block}
.readmore-or:hover{background:#fff; padding:5px 10px; color:#761ecd; font-size:20px; margin-top:10px; display:inline-block}
.readmore-pu{background:#fff; padding:5px 10px; color:#761ecd; font-size:20px; margin-top:10px; display:inline-block}
.page-hp .cbp-so-section:before, .page-hp .cbp-so-section:after{padding: 0px;}.page-hp .cbp-so-section:first-child{margin-top:0px}
.hp-1{background:url(../img/hp-1.jpg); background-size:cover; background-position:left;}
.cca{background:url(../img/cca.jpg) no-repeat; background-size:100%; height:500px;}
.hp-2{background:url(../img/hp-2.jpg);     background-size: cover;
    background-position: right;}
	.fix-max-width img {max-width: 100%; width:auto;}
	.inner-popup-page{padding:30px 0px;}
@media only screen and (max-width: 767px)
{
	.cbp-so-side-right img { right:0}
	.row{margin-left: auto; margin-right:auto;}
	.section-content {font-size:4vw !important;}
	section .row .text-padding:first-child{padding-left:0px;}
section .row .text-padding:last-child{padding-right:0px;}
.twelve img{margin-left:0;}
#navfirst{padding-bottom:30px;}
#navfirst>li{display:block; float:none;}
.facebook, .twitter, .envelope {margin:0px 5px;}
#footer .social a span{display:none;}
.padding-row .columns{text-align:center; margin-bottom:20px;}
.start-today .row:before{height: 10%;}
.mobile-menu {display:block; position: relative;}
.cbp-af-header {display: none;}
.cbp-so-section:before, .cbp-so-section:after{padding: 0px;}
.cbp-so-section:first-child{margin-top: 15px;}
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all 0.2s;
    background-color: #fff;
}
.icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding:10px 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 9px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
outline: none;
    cursor: pointer;
}
/*.active .navbar-toggle{margin-right: 15px;}*/
.top-bar {
    transform: rotate(0);
}
.active .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.middle-bar {
    opacity: 1;
}
.active .middle-bar {
    opacity: 0;
}
.bottom-bar {
    transform: rotate(0);
}
.active .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.hi-icon-wrap img{max-width: 100%; width: auto;}
.modal-open{overflow:inherit;}
label.error, span.error {
    left: 0;
    width: 100%;
    color: #fb5959;
    font-size: 14px;
    margin-top: -29px;
    font-weight: 400;
    z-index: 1;
}
input.error, select.error {
    border-color: #FB5959;
}